
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

EFI/APPLE
EFI/.*
EFI/BOOT/.*
EFI/CLOVER/.*
EFI/CLOVER/ACPI/.*
EFI/CLOVER/ACPI/patched/.*
EFI/CLOVER/drivers64UEFI/.*
EFI/CLOVER/kexts/.*
EFI/CLOVER/kexts/Other/.*
EFI/CLOVER/misc/.*
EFI/CLOVER/themes/.*
EFI/CLOVER/themes/lenovo/.*
EFI/CLOVER/tools/.*